.categories-button{
    background: var(--gray);
    padding: 8px 25px;
    
    font-size: 14px;
    border: none;
    border-radius: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}