:root{
    --darkGreen:#003d29;
    --colorDark: #1d1b1b7d;
    --bg-color: #ffffff;
    --color: #ffffff;
    --gray: #ebeded;
    --pink:#fbf0e4;
    --green: #26b628;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    background: var(--bg-color);
    
    .container{
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }
}